<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiitecAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AiitecOpenAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88D0FA551AC116FE00FA0F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D0FA601AC116FF00FA0F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D0FB4C1AC11C9B00FA0F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
